{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <form>
            <div class="form-group">
                <label for="username">Email address</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

{% endblock %}