{% extends 'base.html.twig' %}

{% block body %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% set isFirst = true %}
            {% for i in wallpapers %}
                {% if isFirst == true %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {% else %}
                    <li data-target="#carouselExampleIndicators"></li>
                {% endif %}
                {% set isFirst = false %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {%  set isFirst = true %}
            {% for wallpaper in wallpapers %}
            {% if isFirst == true %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
                    {% endif %}
                    <img src="images/{{ wallpaper.filename }}" class="d-block w-100" alt="...">
                </div>
                    {% set isFirst = false %}
                    {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>

{% endblock %}