{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div style="float: right; margin-left:15px">
            <h2 align="center">Images</h2>
            {% for wallpaper in wallpapers %}
                <div class="card" style="margin-bottom: 20px; width: 500px">

                    <div class="card-body">
                        {% if wallpaper.position == 0 %}
                            <a href="#" class="btn btn-secondary btn-lg active" role="button"
                               aria-pressed="true" style="float: left; margin-right: 5px">Down</a>
                        {% endif %}
                        {% if loop.last %}
                        <a href="#" class="btn btn-secondary btn-lg active" role="button"
                           aria-pressed="true" style="float: left; margin-right: 5px">Up</a>
                        {% elseif wallpaper.position != 0 %}
                            <a href="#" class="btn btn-secondary btn-lg active" role="button"
                               aria-pressed="true" style="float: left; margin-right: 5px">Up</a>
                            <a href="#" class="btn btn-secondary btn-lg active" role="button"
                               aria-pressed="true" style="float: left; margin-right: 5px">Down</a>
                        {% endif %}
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/gallery/delete/{{ wallpaper.id }}" type="button"
                           class="btn btn-danger" style="float: right; margin-left: 15px">Delete
                        </a>
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/gallery/edit/{{ wallpaper.id }}" type="button"
                           class="btn btn-primary" style="float: right">Edit</a>
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/gallery/view/{{ wallpaper.id }}">
                            <img src="images/{{ wallpaper.filename }}" alt="..."
                                 style="width: 20%; height: auto; float: right; margin-right: 25px">
                        </a>
                    </div>

                </div>
            {% endfor %}
        </div>

        <div style="float:left; margin-right: 15px">
            <h2 align="center">New Image</h2>
            <form action="upload.php" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" id="wpname" placeholder="image name" name="wpname">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                </div>
                <button type="submit" class="btn btn-default"
                        style="background-color: #00cc00; color:white; margin:auto; display:block">Add image
                </button>
            </form>
        </div>

    </div>

{% endblock %}