{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    {% for wallpaper in wallpapers %}
        {% if wallpaper.id == wId %}
            <img src="/web/images/{{ wallpaper.filename }}" alt="{{ wallpaper.filename }}"
                 style="width: 66%; height: auto; display: block; margin-left: auto; margin-right: auto">
            <h2 align="center">{{ wallpaper.name }}</h2>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}