{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <div style="float: right; margin-left:15px">
        <h2 align="center">Users</h2>
        {% for i in range(0,length) %}
            <div class="card" style="margin-bottom: 20px; width: 500px">

                <div class="card-body">
                    <h4 style="float: left">{{ userArray[i][0] }}</h4>
                    <button type="button" class="btn btn-danger" style="float: right; margin-left: 15px">Delete</button>
                    <button type="button" class="btn btn-primary" style="float: right">Edit</button>
                </div>

            </div>
        {% endfor %}
    </div>

    <div style="float:left; margin-right: 15px">
        <h2 align="center">New User</h2>
        <form action="/UserClass.php">
            <div class="form-group">
                <input type="text" class="form-control" id="usern" placeholder="username" name="usern">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="password" name="pwd">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwdr" placeholder="password repeat" name="pwdr">
            </div>
            <button type="submit" class="btn btn-default" style="background-color: #00cc00; color:white; margin:auto; display:block">Add user</button>
        </form>
    </div>
</div>

{% endblock %}